

<div class="container">
     <div class="auth-wrapper">
    <form class="form-signin" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <h3 class="h3 mb-3 font-weight-normal text-center">Guardar nueva contraseña</h3>
  
        <!-- Errors -->
        <div *ngIf="errors?.error" class="alert alert-danger mt-3">
            {{ errors?.error }}
        </div>
  


        <div class="form-group">
            <label>Correo electronico</label>
            <input type="email" class="form-control" formControlName="email">
        </div>
  
        <div class="form-group">
            <label>Nueva contraseña</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
  
        <div class="form-group">
          <label>Confirmar nueva contraseña</label>
          <input type="password" class="form-control" formControlName="password_confirmation">
        </div>
  
        <button type="submit" class="btn btn-block btn-primary">Restablecer contraseña</button>
    </form>
    </div>

</div>