.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    /* background-color:beige ; */
}

.login{
    width: 20%;
    max-width: 80%;
    text-align: center;
}

.ancho{
    width: 100%;
}

.button{
    height: 50%;
}

.spinner{
    margin: 0 auto;
}

.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  .span_error{
    text-align: left;
    line-height : 1px;
    font-size: 11px;
    color: #f44336;
}